* {
    color: #fff;
    font-family: cursive;
}

body {
    background-color: #133C65;
}

section {
    background-color: #252525 ;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 500px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

p {
    text-align: center;
    margin: -1cm;
}

footer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}