* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}
/* esse *{} seleciona todos os "itens" do html */

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora {
    width: 400px;
    padding: 0.5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

#calculadora h3 {
    font-size: .8em ;
    font-weight: 300;
    color: #666;
    padding: 2px;
}

#operações {
    text-align: right;
}

#operação-anterior {
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;
    /*esse overflow é para p número não ultrapassar a calculadora*/
    min-height: 1.6em;
}

#operação-atual {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#container-botão button {
    border-radius: 50px;
    border: 1px solid transparent;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#container-botão {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#container-botão .numero {
    background-color: #f3f3f3;
}

#container-botão button:hover {
    background-color: #bababa;
    border-color: #999;
}

#container-botão #igual-btn {
    grid-column: span 2;
    background-color: #75a5cb;
}

#container-botão #igual-btn:hover {
    background-color: #3a91b8;
}