.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
}

.semafaro {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    height: 455px;
    width: 154px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.vermelho {
    background-color: rgb(247, 138, 138);
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.vivo {
    background-color: red;
}

.amarelo {
    background-color: rgb(248, 248, 129);
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.vivoA {
    background-color: yellow;
}

.verde {
    background-color: rgb(116, 252, 116);
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.vivoV {
    background-color: green;
}


#red {
    position: absolute;
    top: 95%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#yellow {
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);;
}

#green {
    position: absolute;
    top: 95%;
    left: 63%;
    transform: translate(-50%, -50%);
}

#automatic {
    position: absolute;
    top: 95%;
    left: 83%;
    transform: translate(-50%, -50%);
}
