body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/** section {
    background-color: black;
    width: 650px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}*/

div {
    background-color: rgb(71, 71, 235);
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid black;
    padding: 20px;
}
